//date-time-picker
.label-date-time {
  top: -10px;
  left: 10px;
  color: darkslategrey;
  z-index: 2;
  background-color: #fff;
  font-size: 13px;
}

//avatar
.box-zoom-out {
  border: 6px solid #CCC;
}

.box-zoom-out img {
  max-height: 100%;
  transition: all 1s;
  transform: scale(1);
  object-fit: fill;
  cursor: pointer;
}

.box-zoom-out:hover img {
  transform: scale(1.2);
}